In [2]:
print("hello GITAM")

hello GITAM

In [4]:
print("hello GITAM,""  |||   ",end=" ")
print("Hyderabad",end="   |||   ")
print("Python Programming")

hello GITAM,  |||    Hyderabad   |||   Python Programming

In [5]:
n1=100
a=b=c=20
print(n1)
print(a,b,c)

100
20 20 20

In [6]:
n1=100
a=b=c=20
a1=b1=c1=111,222,333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
(111, 222, 333) (111, 222, 333) (111, 222, 333)

In [7]:
a=100
s1="Python"
s2="p"
f1=10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 Python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [16]:
s1="100"
print(type(s1))
f=1.5
a1=int(s1)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
100

In [18]:
s1=input("enter your name=")
print("s1")
print(type(s1))

enter your name=samarth mathur
s1
<class 'str'>

### arithmatic operators
### +
### -
### *
### %
### /
### //
### **

In [22]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

In [19]:
x=1+2**4*5
print(x)

81

In [23]:
x=2**5
print(x)

32

In [20]:
x=1+2**3/4*5
print(x)

11.0

In [21]:
x=1+2//3*4+5
print(x)

6

# relational operators
## >
## <
## ==
## <=
## >=
## !=

# logical operators
## and 
## or 
## not

# control flow statements
## if
## if-else
## else-if ladder
## switch

In [31]:
# tyo check given number is even or odd
n=int(input("enter a number="))
if  n%2 == 0 :
   print("even")
else:
   print("odd")

enter a number=4
even