In [2]:
print("hello GITAM")

hello GITAM

In [4]:
print("hello GITAM,""  |||   ",end=" ")
print("Hyderabad",end="   |||   ")
print("Python Programming")

hello GITAM,  |||    Hyderabad   |||   Python Programming

In [5]:
n1=100
a=b=c=20
print(n1)
print(a,b,c)

100
20 20 20

In [6]:
n1=100
a=b=c=20
a1=b1=c1=111,222,333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
(111, 222, 333) (111, 222, 333) (111, 222, 333)

In [7]:
a=100
s1="Python"
s2="p"
f1=10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 Python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [15]:
s1="100"
print(type(s1))
f=1.5
a1=int(s1)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
100